<!--<!DOCTYPE html>-->

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="UTF-8">
    <title>Wint Automation Testing Station</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <style>
      tr:hover {
        background-color: #DAF8FC;
      }
      h1 {
        text-align: center;
        margin-top: 50px;
        background-color: #70C2FB;
      }
      .passed {
        color: green;
      }
      .prod_item {
			text-align: center;
			font-size: 24px;
		}
    </style>

    <script src="{{ url_for('static', filename='js/index.js') }}">

    </script>
  </head>
  <body>
    <h1>Wint Automation Testing Station</h1>
    <div class="prod_item">
      <label>Wint3</label>
      <input type="radio" name="option" value="Wint3" checked>
      <label>FL1&2</label>
      <input type="radio" name="option" value="FL1&2">
    </div>
    <div class="container-fluid">
      <form id="myForm">
        <table id="myTable" class="table">
          <thead>
            <tr>
              <th>Test Name</th>
              <th>Description</th>
              <th>Result</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <input type="checkbox" name="open_valve"> Open Valve</input>
              </td>
              <td id="open_valve_description"> test for open valve command from control<br>
                panel - expected result = getting open valve event</td>
              <td id="open_valve_result"></td>
            </tr>
            <tr>
              <td>
                <input type="checkbox" name="close_valve"> Close Valve</input>
              </td>
              <td> test for close valve command from control<br>
                panel - expected result = getting close valve event</td>
              <td id="close_valve_result"></td>
            </tr>
            <tr>
              <td>
                <input type="checkbox" name="inject_water"> Inject Water</input>
              </td>
              <td>test of full injection cycle - <br> 1. set default policy(default_policy_1). <br> 2. start inject simulated water flow.
               <br> 3. wait for warning threshold. <br> 4. wait for close threshold. <br> 5. wait till valve error
                <br>expected result: getting warning + close + valve error events</td>
              <td id="Leak_detection_constant_flow_major_fixed_mode_result"></td>
            </tr>
            <tr>
              <td>
                <input type="checkbox" name="set_policy"> Set default Policy</input>
              </td>
              <td>test for set policy (default_policy_1)</td>
              <td id="set_policy_result"></td>
            </tr>
            <tr>
              <td>
                <input type="checkbox" name="recurring_policy"> Set Recurring Policy</input>
              </td>
              <td>test for set recurring policy (recurring_policy_1) -
              <br> 1. set recurring policy to close valve. <br> 2. wait till policy get into effect and valve closes.
              <br> 3. wait till policy finished and valve open again</td>
              <td id="recurring_policy_result"></td>
            </tr>
            <tr>
              <td>
                <input type="checkbox" name="exception_policy"> set Exception Policy </input>
              </td>
              <td>test for set exception policy (exception_policy_1) -
              <br> 1. set exception policy to close valve. <br> 2. wait till policy get into effect.
              <br> 3. close valve commands is sent with "PlungerPos"=>1, "OwnerId"=>2</td>
              <td id="exception_policy_result"></td>
            </tr>
            <tr>
              <td>
                <input type="checkbox" name="policy_conflict"> recurring policies conflict </input>
              </td>
              <td>test for set overlapping recurring policies (recurring_policy_1) -
              <br> 1. set recurring policy to open valve. <br> 2. wait till policy get into effect.
              <br> 3. set another recurring policy with the same time <br>
               4. see an error message at the top of the page on the left, conflict policy message</td>
              <td id="policy_conflict_result"></td>
            </tr>
          </tbody>
        </table>
        <button id="submit-button" type="submit" class="btn btn-primary">Submit</button>
      </form>
      <br> <br>
      <div id="response-content"></div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
    paintClick();
    </script>
    <script>
    runCommandRequest();
    </script>
    <script>
    updateResultCol();
    </script>

  </body>
</html>