<!--<!DOCTYPE html>-->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Wint Automation Testing Station</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="/javascript/index.js"></script>
    <script>

    </script>
    <style>
      tr:hover {
        background-color: #DAF8FC;
      }
      h1 {
        text-align: center;
        margin-top: 50px;
        background-color: #70C2FB;
      }
      .passed {
        color: green;
      }
    </style>

    <script>

    </script>
  </head>
  <body onload="MyOnLoad()" >
    <h1>Wint Automation Testing Station</h1>
    <div class="container-fluid">
      <form id="myForm">
        <table id="myTable" class="table">
          <thead>
            <tr>
              <th>Test Name</th>
              <th>Description</th>
              <th>Result</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <input type="checkbox" name="open_valve"> Open Valve</input>
              </td>
              <td id="open_valve_description"> test for open valve command from control<br>
                panel - expected result = getting open valve event</td>
              <td id="open_valve_result"></td>
            </tr>
            <tr>
              <td>
                <input type="checkbox" name="close_valve"> Close Valve</input>
              </td>
              <td> test for close valve command from control<br>
                panel - expected result = getting close valve event</td>
              <td id="close_valve_result"></td>
            </tr>
            <tr>
              <td>
                <input type="checkbox" name="inject_water"> Inject Water</input>
              </td>
              <td>test of full injection cycle - <br> 1. set default policy(default_policy_1). <br> 2. start inject simulated water flow.
               <br> 3. wait for warning threshold. <br> 4. wait for close threshold. <br> expected result:
               getting warning + close events</td>
              <td id="Leak_detection_constant_flow_major_fixed_mode_result"></td>
            </tr>
            <tr>
              <td>
                <input type="checkbox" name="set_policy"> Set default Policy</input>
              </td>
              <td>test for set policy (default_policy_1)</td>
              <td id="set_policy_result"></td>
            </tr>
            <tr>
              <td>
                <input type="checkbox" name="recurring_policy"> Set Recurring Policy</input>
              </td>
              <td>test for set recurring policy (recurring_policy_1) -
              <br> 1. set recurring policy to close valve. <br> 2. wait till policy get into effect and valve closes.
              <br> 3. wait till policy finished and valve open again</td>
              <td id="recurring_policy_result"></td>
            </tr>
            <tr>
              <td>
                <input type="checkbox" name="exception_policy"> set Exception Policy </input>
              </td>
              <td>test for set exception policy (exception_policy_1) -
              <br> 1. set exception policy to close valve. <br> 2. wait till policy get into effect.
              <br> 3. close valve commands is sent with "PlungerPos"=>1, "OwnerId"=>2</td>
              <td id="exception_policy_result"></td>
            </tr>
          </tbody>
        </table>
        <button id="submit-button" type="submit" class="btn btn-primary">Submit</button>
      </form>
      <br> <br>
      <div id="response-content"></div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>



    <script>
        $(document).ready(function() {
          $('input[type="checkbox"]').click(function() {
            if($(this).is(':checked')) {
              $(this).closest('tr').css('background-color', '#DAF8FC');
            } else {
              $(this).closest('tr').css('background-color', '');
            }
          });
        });


    </script>
    <script>
      const form = document.getElementById("myForm");
      form.addEventListener("submit", (e) => {
        e.preventDefault();
        const checkboxes = form.elements;
        const selected = [];
        for (let i = 0; i < checkboxes.length; i++) {
          if (checkboxes[i].type === "checkbox" && checkboxes[i].checked) {
            selected.push(checkboxes[i].name);
          }
        }
        fetch("/run_command", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            selected: selected,
          }),
        })
          .then((response) => {
            return response.text();
          })
          .then((htmlContent) => {
            const responseContent = document.getElementById("response-content");
            responseContent.innerHTML += htmlContent;
          })
          .catch((error) => {
            console.error("Error:", error);
          });
      });
    </script>
    <script>
        //var button = document.getElementById("show-results-button");
        document.addEventListener("DOMContentLoaded", function() {
          setInterval(function() {
            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function() {
              if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {

                var result = document.getElementById("open_valve_result");
                var response = JSON.parse(xhr.responseText);
                var html = "";
                for (var key in response) {
                  key.replace(/\\/g, '');
                  result = document.getElementById(key + "_result");
                  html += "<p><b>"  + "</b> " + response[key] + "</p>";
                }
                if (html !== ("")){
                  result.innerHTML = html;
                }
              }
            };
            xhr.open("GET", "/results", true);
            xhr.send();
          }, 4000);
        });
    </script>

  </body>
</html>